.board {
  display: grid;
  border: 11px solid #333;
  border-radius: 9px;
  box-shadow: 0px 16px 30px 0px #200;

  &__cell {
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;

    &--dead {
      background-color: black;
    }
  }
}
